

@media screen and (max-width: 991px) {

    .login__content-right {
        width: 100%;
        min-height: 100vh;
    }

    .login__checkbox-label {
        font-size: 14px;
    }

    .login__castom-checkbox {
        margin-top: 4px;
    }

    .login__castom-checkbox:after {
        top: -4px;
    }

    .login__content-left {
        display: none;
    }

    
    .login__form .remember-me-box .loss-password{
        font-size: 14px;
    }

    .login__form-inner {
        max-width: 350px;
    }
}